#RRUCButton {
    .btn {
        padding: 8px 12px;
        text-transform: none;
        cursor: pointer;
        @media only screen and (min-width: $rruc-desktop) {
            width: auto;
        }
    }

    button {
        .MuiButton-label {
            .MuiButton-startIcon {
                margin-left: 0px;
            }
        }
    }

    .action-button {
        padding: 6px 12px;
    }

    %filled-text {
        @extend .Inter-Medium;
        flex: none;
        flex-grow: 0;
        order: 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 16px;
        text-align: center;
    }

    %outlined-text {
        @extend .Inter-Medium;
        flex: none;
        flex-grow: 0;
        order: 0;
        color: $primary-600;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 16px;
        text-align: center;
    }

    %text {
        @extend .Inter-Medium;
        flex: none;
        flex-grow: 0;
        order: 0;
        color: $primary-600;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 16px;
        text-align: center;
    }

    %icon-text {
        @extend .Inter-Regular;
        color: $neutral-600;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 16px;
        text-align: center;
    }

    .btn-filled {
        @extend %filled-text;
        @extend .d-flex-horizontal-center;

        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: $primary-500;
        min-width: 280px;
        @media only screen and (min-width: $rruc-desktop) {
            min-width: 0;
        }
        svg {
            color: $white;
        }
        &:hover {
            background-color: $primary-600;
            svg {
                color: $white;
            }
        }

        &:focus,
        .Mui-focusVisible {
            background-color: $primary-700;
            svg {
                color: $white;
            }
        }

        &:active {
            background-color: $primary-800;
            svg {
                color: $white;
            }
        }

        &:disabled,
        .Mui-disabled {
            background-color: $neutral-300;
            color: $neutral-500;
            svg {
                color: $neutral-500;
            }
        }
    }

    .btn-outlined {
        @extend %outlined-text;
        @extend .d-flex-horizontal-center;

        border: 1px solid $neutral-400;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        min-width: 280px;
        @media only screen and (min-width: $rruc-desktop) {
            min-width: 0;
        }
        svg {
            color: $primary-500;
        }
        &:hover {
            border: 1px solid $primary-400;
            background-color: $primary-050;
            color: $primary-600;
            svg {
                color: $primary-500;
            }
        }

        &:focus,
        .Mui-focusVisible {
            border: 2px solid $primary-500;
            background-color: $neutral-050;
            color: $primary-600;
            svg {
                color: $primary-500;
            }
        }

        &:active {
            border: 1px solid $primary-500;
            background-color: $primary-050;
            color: $primary-600;
            svg {
                color: $primary-500;
            }
        }

        &:disabled,
        .Mui-disabled {
            border: 1px solid $neutral-300;
            background-color: $neutral-050;
            color: $neutral-400;
            svg {
                color: $neutral-400;
            }
        }
    }

    .btn-text {
        @extend %text;
        @extend .d-flex-horizontal-center;

        border: 0;
        outline: none;
        background: transparent;
        min-width: 280px;
        @media only screen and (min-width: $rruc-desktop) {
            min-width: 0;
        }
        svg {
            color: $primary-500;
        }
        &:hover {
            border: 0;
            background-color: $primary-050;
            color: $primary-600;
            svg {
                color: $primary-500;
            }
        }

        &:focus,
        .Mui-focusVisible {
            border: 0;
            background-color: $primary-100;
            color: $primary-600;
            svg {
                color: $primary-500;
            }
        }

        &:active {
            border: 0;
            background-color: $primary-200;
            color: $primary-600;
            svg {
                color: $primary-500;
            }
        }

        &:disabled,
        .Mui-disabled {
            border: 0;
            background-color: transparent;
            color: $neutral-400;
            svg {
                color: $neutral-500;
            }
        }
    }

    .btn-icon {
        @extend %icon-text;
        @extend .d-flex-horizontal-center;
        border: 1px solid $neutral-400;

        border-radius: 4px;
        outline: none;
        color: $neutral-600;
        box-sizing: border-box;
        min-width: 280px;
        @media only screen and (min-width: $rruc-desktop) {
            min-width: 0;
        }
        &:hover,
        &:focus,
        .Mui-focusVisible,
        &:active {
            border: 1px solid $neutral-900;
            color: $neutral-900;
        }

        &:disabled,
        .Mui-disabled {
            border: 1px solid $neutral-300;
            background-color: $neutral-050;
            color: $neutral-400;
        }
    }

    .btn-link {
        @extend .Inter-Regular;
        color: $primary-600;
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
        cursor: pointer;
        &:hover,
        &:focus,
        .Mui-focusVisible,
        &:active {
            color: $primary-900;
        }

        &:disabled,
        .Mui-disabled {
            color: $neutral-400;
        }
    }
}
