#RRUCSnackBar {
    .MuiSnackbar-root {
        top: 10%;
        flex-wrap: nowrap;
        flex-grow: 0;
        .MuiSnackbarContent-root {
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            background-color: $neutral-800;
            min-width: auto;
            width: auto;
            max-width: 312px;
            flex-wrap: nowrap;
            flex-grow: 0;
            padding: 8px 0 8px 16px;
            @media only screen and (min-width: $rruc-desktop) {
                max-width: 480px;
            }
            .MuiSnackbarContent-root,
            .MuiSnackbarContent-message {
                @extend .Inter-Medium;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $white;
                min-width: auto;
                width: auto;
                max-width: 248px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                padding: 0px;
                @media only screen and (min-width: $rruc-desktop) {
                    max-width: 416px;
                }
            }
            .MuiSnackbarContent-action {
                padding-left: 8px;
                margin-right: 16px;
            }
        }
    }
}
