#RRUCSwitch {
    .MuiSwitch-root {
        /* Enabled */
        .MuiSwitch-thumb {
            color: $neutral-700;
            opacity: 1;
        }

        .MuiTouchRipple-root {
            color: $neutral-700;
        }

        .MuiSwitch-track {
            border-radius: 7px;
            background-color: $neutral-500;
            opacity: 1;
        }

        /* Disabled */
        .Mui-disabled {
            .MuiSwitch-thumb {
                color: $neutral-400;
                opacity: 1;
            }
        }

        .Mui-disabled + .MuiSwitch-track {
            border-radius: 7px;
            background-color: $neutral-300;
            opacity: 1;
        }

        /* Checked */
        .Mui-checked {
            .MuiSwitch-thumb {
                color: $primary-500;
                opacity: 1;
            }
            .MuiTouchRipple-root {
                color: $primary-500;
            }
        }

        .Mui-checked + .MuiSwitch-track {
            border-radius: 7px;
            background-color: $primary-200;
            opacity: 1;
        }

        /* Checked  Disabled */
        .Mui-checked.Mui-disabled {
            .MuiSwitch-thumb {
                color: $neutral-400;
                opacity: 1;
            }
        }

        .Mui-checked.Mui-disabled + .MuiSwitch-track {
            border-radius: 7px;
            background-color: $neutral-300;
            opacity: 1;
        }
    }
}
